{% extends 'WTPoolBundle::layout.html.twig' %}

{% block body -%}
    <h1>Question edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('pool_show', { 'id': entity.pool.id}) }}">
            Back to the pool detail
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
