{% extends 'WTPoolBundle::layout.html.twig' %}

{% block body -%}
    <h1>Question creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('pool_show', { 'id': entity.pool.id }) }}">
            Back to the Pool
        </a>
    </li>
</ul>
{% endblock %}
