{% extends 'WTPoolBundle::layout.html.twig' %}
{% block content %}
<div class="page-header">
	<h1>Úvod</h1>
</div>
	Tato prezentace byla vytvořena vrámci semestrální práze předmětu Webové technologie 1 při fakultě informačních technologií na Českém vysokém učení technickém v Praze. Prezentace popisuje zadání a požadavky na funkční webovou aplikaci vyvynutou pomocí frameworku Symfony..
{% endblock content %}