{% extends 'WTPoolBundle::layout.html.twig' %}

{% block body -%}
    <h1>QOption creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('pool_show', { 'id': entity.question.pool.id}) }}">
            Back to the pool detail
        </a>
    </li>
</ul>
{% endblock %}
